<div class="row">
  <div class="col-md-12 align-left">
    
      
    <%= link_to 'Voltar', posts_path %>

  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <h1>Novo post</h1>

    <%= render 'form', post: @post %>
  </div>
</div>

