// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.text-center {
  text-align: center;
}

.post-content {
  margin: 42px 80px;
}

.align-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.align-left * {
  padding: 0 10px 20px;
}
